In [2]:
from openalgo import api

Api_key ="a1024b4bba8afa5dd696cc12093ca1cd3802bbabf77079f4025c4abb8023be4e"
hosts ="http://127.0.0.1:5000"

# Initialize the API client
client = api(api_key=Api_key, host=hosts)

In [15]:
response = client.placeorder(
    strategy="Python",
    symbol="NHPC",
    action="BUY",
    exchange="NSE",
    price_type="MARKET",
    product="MIS",
    quantity=1
)
print(response)

{'orderid': '25051900313798', 'status': 'success'}

In [12]:

# Fetch historical data for SBIN
df = client.history(
    symbol="SBIN",
    exchange="NSE",
    interval="5m",
    start_date="2025-01-01",
    end_date="2025-01-28"
)

df

                            close    high     low    open  volume
timestamp
2025-01-01 09:15:00+05:30  795.25  798.00  792.50  795.55  190321
2025-01-01 09:20:00+05:30  794.75  795.60  793.15  795.10  109048
2025-01-01 09:25:00+05:30  795.45  796.00  794.20  794.60   55949
2025-01-01 09:30:00+05:30  793.40  796.00  793.00  795.45   85310
2025-01-01 09:35:00+05:30  793.80  793.95  793.15  793.50   36133
...                           ...     ...     ...     ...     ...
2025-01-28 15:05:00+05:30  750.00  750.30  749.00  749.40  257450
2025-01-28 15:10:00+05:30  752.20  752.50  749.00  749.90  217656
2025-01-28 15:15:00+05:30  754.80  754.95  752.00  752.20  427234
2025-01-28 15:20:00+05:30  753.95  754.85  753.50  754.75  495028
2025-01-28 15:25:00+05:30  752.15  754.15  752.00  753.70  215650

[1500 rows x 5 columns]

In [3]:
df = client.orderbook()

df

{'data': {'orders': [{'action': 'BUY',
    'exchange': 'NSE',
    'order_status': 'rejected',
    'orderid': '25052000117862',
    'price': 0.0,
    'pricetype': 'MARKET',
    'product': 'CNC',
    'quantity': 1.0,
    'symbol': 'POWERINDIA',
    'timestamp': '20-May-2025 10:03:42',
    'trigger_price': 0.0},
   {'action': 'BUY',
    'exchange': 'NSE',
    'order_status': 'rejected',
    'orderid': '25052000123056',
    'price': 0.0,
    'pricetype': 'MARKET',
    'product': 'CNC',
    'quantity': 15.0,
    'symbol': 'CHOICEIN',
    'timestamp': '20-May-2025 10:07:02',
    'trigger_price': 0.0}],
  'statistics': {'total_buy_orders': 2.0,
   'total_completed_orders': 0.0,
   'total_open_orders': 0.0,
   'total_rejected_orders': 2.0,
   'total_sell_orders': 0.0}},
 'status': 'success'}